langchain
langchain-chroma
langchain-community
langchain-huggingface
langchain-groq
streamlit
python-dotenv
chromadb
huggingface-hub
PyPDF2
pymupdf
sentence_transformers
faiss-cpu
duckdb
pandas
